/**
 * Theme:  Cloud Developer Studio
 * URI:    http://cloud.duricu.ro/
 * Author: Valentin Duricu
 */
/* --- Mixins & vars --- */
@white: #ffffff;
@black: #343434;
@gray: #cbcbcb;

@background: #eaeaea;
@header: #158bb7;
@green: #8ce500;
@red: #ed0000;
@dark_green: #00aa00;

.no-text(@img_url, @display) {
    text-align: center;
    text-indent: -5000px;
    display: @display;
    background: transparent url(@img_url) no-repeat center center;
}

/* --- Imports --- */
@import url('font-awesome.css');

/* --- Main Section --- */
* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    color: @black;
    background: @background url('../images/noise.png');
}

a {
    text-decoration: none !important;
}

:focus {
    outline-color: transparent;
    outline-style: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    width: 0;
    height: 0;
    clear: both;
    display: block;
}

/* --- Header Section --- */
.header {
    background-color: @header;
    color: @white;
    border-bottom: 1px solid @gray;
    -webkit-box-shadow: 0 7px 10px 0 rgba(155, 156, 157, 0.75);
    box-shadow: 0 7px 10px 0 rgba(155, 156, 157, 0.75);
    position: absolute;
    top: 0;
    left: 0;

    line-height: 50px;
    font-size: 13.5pt;
    z-index: 35 !important;

    /* --- components --- */
    &.container {
        width: 100%;
    }

    .leftmenu {
        text-align: left;
        font-weight: 300 !important;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                padding: 0 10px;
                a {
                    display: block;
                    color: @white;

                    &:hover {
                        color: @green;
                    }
                }
                &.active {
                    a {
                        color: @gray;
                    }
                }
                &.cdslogo {
                    .no-text('../images/logo2.png', inline-block);
                    width: 155px;
                    cursor: default;
                }
            }
        }
    }

    .rightmenu {
        text-align: right;
        vertical-align: middle;
        padding-right: 5px;
        margin-top: -4px;
        font-weight: 300;

        a {
            padding: 0;
            color: @green;
            text-align: center;

            &:hover {
                color: @white;
            }

            img {
                border: 1px solid @gray;
                margin-top: -4px;
                vertical-align: middle;
            }

            &.logout {
                top: 5px;
                right: 0;
                font-size: 22pt;
            }
        }
    }
}

.cds-logo {
    width: 71px;
    height: 71px;
    display: block;
    margin: auto;
    background: transparent no-repeat center center;

    &.cloud {
        background-image: url('../icons/icon2.png');
    }
    &.users {
        background-image: url('../icons/icon1.png');
    }
}

/* --- Content Section --- */
.content {
    font-size: 12pt;
    background: @white;
    border-left: 1px solid @gray;
    border-right: 1px solid @gray;
    z-index: 25 !important;
    height: 100%;
    overflow: auto;

    /* --- components --- */
    &.container {
        width: 1200px;
        padding: 90px 40px 50px 40px;
    }

    .tab {
        display: none;

        &.active {
            display: block;
        }
    }

    .top {
        h1 {
            font-weight: 700;
            margin-top: 10px;
        }

        .col-lg-3 {
            text-align: right;
        }
        #create, .back-btn {
            line-height: 56px;
            font-size: 15pt;
            color: @black;
            font-weight: 300;

            &:hover {
                color: @header;
            }
        }
    }

    .projects,
    .tools,
    .details {
        padding-bottom: 20px;
    }

    .projects {
        .project-row {
            margin-top: 25px;
        }
        .wrapper {

        }
        .logo {
            padding: 0 8px;
            text-align: center;

            .delete {
                margin-top: 8px;
                display: block;
                color: @red;

                &:hover {
                    color: @black;
                }
            }
        }
        .description {
            h2 {
                margin-top: 0px;
                font-weight: 300;
            }
            ul {
                list-style: none;
            }
            .info {
                font-size: 10pt;
                li {
                    margin-bottom: 2px;
                }
            }
            .links {
                font-size: 13pt;
                margin-top: 13px;
                text-align: right;
                li {
                    display: block;
                    a {
                        display: block;
                        padding: 2px 5px;

                        &:hover {
                            font-weight: 300;
                        }
                    }

                    .open-project {
                        color: @dark_green;
                        &:hover {
                            color: @white;
                            background: @dark_green;
                        }
                    }

                    .project-details {
                        color: @header;
                        padding-right: 8px;

                        &:hover {
                            color: @white;
                            background: @header;
                        }
                    }

                    .clone-project {
                        color: @header;
                        padding-right: 8px;

                        &:hover {
                            color: @white;
                            background: @header;
                        }
                    }
                }
            }

        }
    }
    .details {
        margin-top: 20px;
        .logo {
            padding: 0 8px;
            text-align: center;
            display: inline-block;
            vertical-align: top;

            .delete {
                margin-top: 8px;
                display: block;
                color: @red;

                &:hover {
                    color: @black;
                }
            }
        }
        .links {
            font-size: 13pt;
            margin-top: 13px;
            text-align: right;
            a {
                display: inline-block;
                padding: 5px 15px;

                &:hover {
                    font-weight: 300;
                }
            }
            .edit{
                font-weight: 300;
                &:hover{
                    color: @white;
                    background: @header;
                }
            }
            .open-project {
                color: @dark_green;
                &:hover {
                    color: @white;
                    background: @dark_green;
                }
            }
        }
        h2 {
            font-weight: 300;
            display: inline-block;
            vertical-align: middle;
            margin-top: 20px;
            margin-left: 10px;
        }
        .description {
            margin-top: -23px;
            .desc {
                padding-left: 20px;
                ul {
                    list-style: none;
                    li {
                        padding-bottom: 3px;
                    }
                }
            }
            .user_image {
                border-radius: 50%;
            }
            .activity {
                cursor: default;
                h3 {
                    font-size: 14pt;
                    font-weight: 500;
                    margin-top: 0px;
                }
                .actv {
                    margin-bottom: 15px;
                    font-weight: 300;
                    vertical-align: middle;
                }
                .col-md-10 {
                    padding-left: 0;
                    margin-top: 3px;
                }
                .activity_desc {
                    font-size: 10pt;
                    margin-bottom: 2px;
                    padding-left: 0;
                }
                .activity_meta {
                    font-size: 8pt;
                    padding-left: 0;
                }
            }
        }
    }

    #creationTab {
        ul {
            list-style: none;
        }

        .col-lg-4{
            padding-right: 0;
        }
        .col-lg-8{
            padding-left: 0;
        }
        .cds-logo {
            display: inline-block;
            margin: auto 3px 8px auto;
            cursor: pointer;

            &.active {
                background-color: rgba(28, 28, 28, 0.28);
                border: 1px solid rgba(28, 28, 28, 0.25);
                border-radius: 25%;
            }
        }
    }

    #updateTab {
        ul {
            list-style: none;
        }

        .col-lg-4{
            padding-right: 0;
        }
        .col-lg-8{
            padding-left: 0;
        }
        .cds-logo {
            display: inline-block;
            margin: auto 3px 8px auto;
            cursor: pointer;

            &.active {
                background-color: rgba(28, 28, 28, 0.28);
                border: 1px solid rgba(28, 28, 28, 0.25);
                border-radius: 25%;
            }
        }
    }
    #settingsTab {
        .col-lg-4{
            padding-right: 0;
        }
        .col-lg-8{
            padding-left: 0;
        }
    }

    .tools {
        margin-top: 15px;
        font-weight: 300;
        .col-lg-3 {
            padding-left: 0;
        }

        ul {
            list-style: none;

            li {
                display: block;
                margin-bottom: 5px;
                font-size: 15pt;
                line-height: 35px;
                vertical-align: middle;

                a {
                    display: block;
                    color: @dark_green;

                    &:hover {
                        color: @header;
                    }
                }
                .fa {
                    font-size: 20pt;
                }
            }
        }
    }
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: @gray;
    font-weight: 300;
}