@import url('font-awesome.css');
/**
 * Theme:  Cloud Developer Studio
 * URI:    http://cloud.duricu.ro/
 * Author: Valentin Duricu
 */
/* --- Mixins & vars --- */
/* --- Imports --- */
/* --- Main Section --- */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
  color: #343434;
  background: #eaeaea url('../images/noise.png');
}
a {
  text-decoration: none !important;
}
:focus {
  outline-color: transparent;
  outline-style: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  width: 0;
  height: 0;
  clear: both;
  display: block;
}
/* --- Header Section --- */
.header {
  background-color: #158bb7;
  color: #ffffff;
  border-bottom: 1px solid #cbcbcb;
  -webkit-box-shadow: 0 7px 10px 0 rgba(155, 156, 157, 0.75);
  box-shadow: 0 7px 10px 0 rgba(155, 156, 157, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  line-height: 50px;
  font-size: 13.5pt;
  z-index: 35 !important;
  /* --- components --- */
}
.header.container {
  width: 100%;
}
.header .leftmenu {
  text-align: left;
  font-weight: 300 !important;
}
.header .leftmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header .leftmenu ul li {
  display: inline-block;
  padding: 0 10px;
}
.header .leftmenu ul li a {
  display: block;
  color: #ffffff;
}
.header .leftmenu ul li a:hover {
  color: #8ce500;
}
.header .leftmenu ul li.active a {
  color: #cbcbcb;
}
.header .leftmenu ul li.cdslogo {
  text-align: center;
  text-indent: -5000px;
  display: inline-block;
  background: transparent url('../images/logo2.png') no-repeat center center;
  width: 155px;
  cursor: default;
}
.header .rightmenu {
  text-align: right;
  vertical-align: middle;
  padding-right: 5px;
  margin-top: -4px;
  font-weight: 300;
}
.header .rightmenu a {
  padding: 0;
  color: #8ce500;
  text-align: center;
}
.header .rightmenu a:hover {
  color: #ffffff;
}
.header .rightmenu a img {
  border: 1px solid #cbcbcb;
  margin-top: -4px;
  vertical-align: middle;
}
.header .rightmenu a.logout {
  top: 5px;
  right: 0;
  font-size: 22pt;
}
.cds-logo {
  width: 71px;
  height: 71px;
  display: block;
  margin: auto;
  background: transparent no-repeat center center;
}
.cds-logo.cloud {
  background-image: url('../icons/icon2.png');
}
.cds-logo.users {
  background-image: url('../icons/icon1.png');
}
/* --- Content Section --- */
.content {
  font-size: 12pt;
  background: #ffffff;
  border-left: 1px solid #cbcbcb;
  border-right: 1px solid #cbcbcb;
  z-index: 25 !important;
  height: 100%;
  overflow: auto;
  /* --- components --- */
}
.content.container {
  width: 1200px;
  padding: 90px 40px 50px 40px;
}
.content .tab {
  display: none;
}
.content .tab.active {
  display: block;
}
.content .top h1 {
  font-weight: 700;
  margin-top: 10px;
}
.content .top .col-lg-3 {
  text-align: right;
}
.content .top #create,
.content .top .back-btn {
  line-height: 56px;
  font-size: 15pt;
  color: #343434;
  font-weight: 300;
}
.content .top #create:hover,
.content .top .back-btn:hover {
  color: #158bb7;
}
.content .projects,
.content .tools,
.content .details {
  padding-bottom: 20px;
}
.content .projects .project-row {
  margin-top: 25px;
}
.content .projects .logo {
  padding: 0 8px;
  text-align: center;
}
.content .projects .logo .delete {
  margin-top: 8px;
  display: block;
  color: #ed0000;
}
.content .projects .logo .delete:hover {
  color: #343434;
}
.content .projects .description h2 {
  margin-top: 0px;
  font-weight: 300;
}
.content .projects .description ul {
  list-style: none;
}
.content .projects .description .info {
  font-size: 10pt;
}
.content .projects .description .info li {
  margin-bottom: 2px;
}
.content .projects .description .links {
  font-size: 13pt;
  margin-top: 13px;
  text-align: right;
}
.content .projects .description .links li {
  display: block;
}
.content .projects .description .links li a {
  display: block;
  padding: 2px 5px;
}
.content .projects .description .links li a:hover {
  font-weight: 300;
}
.content .projects .description .links li .open-project {
  color: #00aa00;
}
.content .projects .description .links li .open-project:hover {
  color: #ffffff;
  background: #00aa00;
}
.content .projects .description .links li .project-details {
  color: #158bb7;
  padding-right: 8px;
}
.content .projects .description .links li .project-details:hover {
  color: #ffffff;
  background: #158bb7;
}
.content .projects .description .links li .clone-project {
  color: #158bb7;
  padding-right: 8px;
}
.content .projects .description .links li .clone-project:hover {
  color: #ffffff;
  background: #158bb7;
}
.content .details {
  margin-top: 20px;
}
.content .details .logo {
  padding: 0 8px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.content .details .logo .delete {
  margin-top: 8px;
  display: block;
  color: #ed0000;
}
.content .details .logo .delete:hover {
  color: #343434;
}
.content .details .links {
  font-size: 13pt;
  margin-top: 13px;
  text-align: right;
}
.content .details .links a {
  display: inline-block;
  padding: 5px 15px;
}
.content .details .links a:hover {
  font-weight: 300;
}
.content .details .links .edit {
  font-weight: 300;
}
.content .details .links .edit:hover {
  color: #ffffff;
  background: #158bb7;
}
.content .details .links .open-project {
  color: #00aa00;
}
.content .details .links .open-project:hover {
  color: #ffffff;
  background: #00aa00;
}
.content .details h2 {
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;
  margin-left: 10px;
}
.content .details .description {
  margin-top: -23px;
}
.content .details .description .desc {
  padding-left: 20px;
}
.content .details .description .desc ul {
  list-style: none;
}
.content .details .description .desc ul li {
  padding-bottom: 3px;
}
.content .details .description .user_image {
  border-radius: 50%;
}
.content .details .description .activity {
  cursor: default;
}
.content .details .description .activity h3 {
  font-size: 14pt;
  font-weight: 500;
  margin-top: 0px;
}
.content .details .description .activity .actv {
  margin-bottom: 15px;
  font-weight: 300;
  vertical-align: middle;
}
.content .details .description .activity .col-md-10 {
  padding-left: 0;
  margin-top: 3px;
}
.content .details .description .activity .activity_desc {
  font-size: 10pt;
  margin-bottom: 2px;
  padding-left: 0;
}
.content .details .description .activity .activity_meta {
  font-size: 8pt;
  padding-left: 0;
}
.content #creationTab ul {
  list-style: none;
}
.content #creationTab .col-lg-4 {
  padding-right: 0;
}
.content #creationTab .col-lg-8 {
  padding-left: 0;
}
.content #creationTab .cds-logo {
  display: inline-block;
  margin: auto 3px 8px auto;
  cursor: pointer;
}
.content #creationTab .cds-logo.active {
  background-color: rgba(28, 28, 28, 0.28);
  border: 1px solid rgba(28, 28, 28, 0.25);
  border-radius: 25%;
}
.content #updateTab ul {
  list-style: none;
}
.content #updateTab .col-lg-4 {
  padding-right: 0;
}
.content #updateTab .col-lg-8 {
  padding-left: 0;
}
.content #updateTab .cds-logo {
  display: inline-block;
  margin: auto 3px 8px auto;
  cursor: pointer;
}
.content #updateTab .cds-logo.active {
  background-color: rgba(28, 28, 28, 0.28);
  border: 1px solid rgba(28, 28, 28, 0.25);
  border-radius: 25%;
}
.content #settingsTab .col-lg-4 {
  padding-right: 0;
}
.content #settingsTab .col-lg-8 {
  padding-left: 0;
}
.content .tools {
  margin-top: 15px;
  font-weight: 300;
}
.content .tools .col-lg-3 {
  padding-left: 0;
}
.content .tools ul {
  list-style: none;
}
.content .tools ul li {
  display: block;
  margin-bottom: 5px;
  font-size: 15pt;
  line-height: 35px;
  vertical-align: middle;
}
.content .tools ul li a {
  display: block;
  color: #00aa00;
}
.content .tools ul li a:hover {
  color: #158bb7;
}
.content .tools ul li .fa {
  font-size: 20pt;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #cbcbcb;
  font-weight: 300;
}
