*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    color: #707070;
}
a{
    color: #343434;
    text-decoration: none !important;
    &:hover{
        color: #0076a3;
    }
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

.left{
    float: left;
}
.right{
    float: right;
}
.clear:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clear {
	display: inline-block;
}
.loader{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(225,225,225,1);
    color: #ffffff;
    z-index: 3000;
    top: 0;
    left: 0;
    
    .img{
        background: transparent url('../images/loader.gif') no-repeat center center;
        width: 124px;
        height: 128px;
        position: relative;
        top: 50%;
        left: 50%;
        margin-left: -65px;
        margin-top: -84px;
    }
}
.tooltip{
    font-size: 13pt;
    
    .tooltip-inner{
        padding: 4px 9px;
        max-width: 350px;
    }
}

.wrapper-help{
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    overflow: none;
}

.help-list{
    width: 360px;
    background: #e0e0e0;
    border-right: 1px solid #d0d0d0;
    height: 100%;
    margin-bottom: 0;
    overflow: auto;
    &#help-category{
        width: 315px; 
        li{
           &:hover,&.active{
                background: #f0f0f0;
            } 
        }
        
        .title {
            font-size: 17pt;
            font-weight: 300;
            color: #0088cc;
        }
        .meta {
            color: #898989;
            font-size: 11pt;
            font-weight: 400;
        }
    }
    &#help-issues{
        background: #f0f0f0;
        border-right: 1px solid #e0e0e0;
        display: none;
        
        li{
            font-size: 10pt;
            &:hover,&.active{
                background: #ffffff;
            } 
        }
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            padding: 3px 10px;
            cursor: pointer;
            
            
            &:first-child {margin-top:    5px;}
            &:last-child  {margin-bottom: 5px;}
        }
    }
    
}

.help-info{
    height: 100%;
    overflow: auto;
    cursor: default;
	background: #ffffff;
    display: none;
    overflow: auto;
    #help-title {
        font-size: 22pt;
        color: #0088cc;
        font-weight: 300;
        padding: 10px 10px 10px 10px;
        border-bottom:  1px solid #d0d0d0;
        background: #f1f1f1;
        margin-bottom: 10px;
    }
    #help-description {
        font-weight:  400;
        font-size: 11pt;
        color: #282828;
        padding: 0 10px;
        text-align: justify;
    }
}