/**
 * Theme:  Cloud Developer Studio
 * URI:    http://cloud-studio.ro/
 * Author: Valentin Duricu
 */

*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    color: #707070;
    padding-top: 68px;
}
a{
    color: #343434;
    text-decoration: none;
    font-weight: 700;
    &:hover{
        color: #0076a3;
    }
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

.clear{
    width: 0;
    height: 0;
    clear: both;
    display: block;
}


.top-header{
    background: #ffffff;
    border-bottom: 1px solid #f1f1f1;
    padding: 13px 0 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 150;
    -webkit-box-shadow: 0px 15px 29px -5px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 15px 29px -5px rgba(0, 0, 0, 0.5);
    .cds{
        cursor: pointer;
        text-indent: -5000px;
        display: block;
        width: 293px;
        height: 43px;
        margin: auto;
        background: transparent url('../images/logo_landing.png') no-repeat center center;
    }
    .menu{
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: right;
        
        li{
            display: inline-block;
            a{
                display: block;
                font-weight: 300;
                font-size: 14pt;
                line-height: 43px;
                text-decoration: none;
                color: #bcbcbc;
                margin: 0px 25px;
            }
            &:hover,&.active{
                a{
                    color: #00a8df;
                }
            }
        }
        
        &:last-child a{
            margin-right: 0;    
        }
    }
}
.slider{
    background: #1f5868 url('../images/noise.png');
    height: 300px;
    color: #ffffff;
    overflow: hidden;
    width: 100%;
    border-bottom: 2px solid #282828;
    
    .slide{
        text-align: center;
        margin: 45px 0;
        display: none;
        
        &.active{
            display: block;
        }
        
        
    }
    .text{
        width: 60%;     
        text-align: left;
        font-weight: 300;
        padding: 0;
        text-shadow: 3px 3px 2px #282828;
        filter: dropshadow(color=#282828, offx=2, offy=2);
        
        h1{
            font-family: 'Open Sans', sans-serif;
            font-weight: 400 !important;   
        }
    }
    #slide1, #slide2, #slide3{
        .the-icon{
            display: block;
            width: 330px;   
            height: 200px;
        }
        .cloud{
            padding: 0;
            width: 35%;
            .the-icon{
                background: transparent url('../images/cloud.png') no-repeat center center;   
            }
        }
        .design{
            padding: 0;
            width: 35%;
            .the-icon{
                background: transparent url('../images/design.png') no-repeat center center;   
            }
        }
        .platform{
            padding: 0;
            width: 35%;
            .the-icon{
                background: transparent url('../images/platform.png') no-repeat center center;   
            }
        }
        .text{
            font-size: 19pt;
        }
    }
}

.mypager{
    text-align: center;
    .active a{
        background-color: #004a80; 
    }
    a{
        cursor: pointer;
    }
}
#home, #howto{
    padding-bottom: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
}

#home, #howto, #screen{
    cursor: default;
    h1{
        font-size: 18pt;
        color: #004a80;
        font-weight: 700;
    }
    p{
        text-align: justify;
    }
}

#home ul{
    list-style: none;
    
    li{
        margin-bottom: 5px;  
        text-indent:8px;
        &:before{ content:">"; position:relative; left:-7px;}
    }
}

#howto{
    h2{
        font-weight: 400;
        color: #0072bc;
        font-size: 14pt;
    }
}

#screen{
    .col-md-4{
        text-align: center;
        margin-bottom: 15px;
    }
    a{
        img{
            border: 1px solid #dcdcdc;   
        }
    }
}

.the-footer{
    text-align: center;
    padding: 50px 0 40px 0;
    
    a{
        text-decoration: none;   
    }
}
