/**
 * Theme:  Cloud Developer Studio
 * URI:    http://cloud.duricu.ro/
 * Author: Valentin Duricu
 */

*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
    color: #707070;
}
a{
    color: #343434;
    text-decoration: none;
    &:hover{
        color: #0076a3;
    }
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

.clear{
    width: 0;
    height: 0;
    clear: both;
    display: block;
}

.wrapper{
    width: 480px;
    height: 300px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -242px;
        
}

.mainHeader{
    text-align: center;
    padding: 20px 0;
    background: #ffffff;
    margin: auto;
    cursor: default;
    .cds{
        cursor: pointer;
        text-indent: -5000px;
        display: block;
        width: 476px;
        height: 59px;
        margin: auto;
        background: transparent url('../images/logo.png') no-repeat center center;
    }
}

.mainFooter{
    padding: 20px 0;
    font-weight: 300;
    text-align: center;
    cursor: default;
    .spark{
        font-weight: 700;
    }
}

.inputs{
    margin: 20px auto 30px auto;
    ul{
        list-style: none;
        margin: 0 auto;
        padding: 0;
        width: 350px;
        
        li{
            color: #bbbbbb;
            padding: 4px 5px;
            cursor: default;
            margin-bottom: 5px;
            font-family: 'Open Sans', sans-serif;
            vertical-align: middle;
            &.error{
                color: #dc0000;  
                font-size: 10pt;
                padding: 5px 10px;
                border: 1px solid #ff0000;
                background-color: #ffdcdc;
                .glyphicon{
                    font-size: 13pt;
                }
            }
            &.info{
                color: #dfa800;  
                font-size: 10pt;
                padding: 5px 10px;
                border: 1px solid #dfa800;
                background-color: #fff799;
                .glyphicon{
                    font-size: 13pt;
                }
            }
            &.input{
                border: 1px solid #dcdcdc;
                background: #fdfdfd;
                font-size: 17pt;
                
                .glyphicon{
                    float: left;
                    display: block;
                    line-height: 17pt;
                }
                .divider{
                    border-left: 1px solid #dcdcdc;
                    height: 17pt;
                    width: 0;
                    vertical-align: middle;
                    display: block;
                    float: left;
                    margin-top: 2px;
                    margin-left: 5px; 
                }
                input{
                    background: transparent;
                    border: none;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 300;
                    font-size: 13pt;
                    display: block;
                    float: right;
                    margin-top: 1px;
                    width: 300px;
                    vertical-align: middle;
                    cursor: default;
                    color: #676767;
                }
            }
            &.buttons{
                font-size: 11pt;
                padding: 0;
                vertical-align: middle;
                .recover{
                    float: left;   
                    margin-top: 8px;
                    margin-left: 15px; 
                    a{
                        color: #bbbbbb;
                        text-decoration: none;
                        
                        &:hover{
                            color: #898989;   
                        }
                    }
                }
                .login{
                    float: right;
                    text-align: right;
                    margin-top: 12px;
                    button{
                        color: #bbbbbb;
                        text-decoration: none;
                        background: none;
                        border: none;
                        padding: 3px 5px;
                        font-size: 16pt;
                        
                        &:hover{
                            color: #454545;   
                        }

                        &[disabled=disabled]{
                            color: #aaaaaa;
                        }
                    }
                }
            }
        }
    }
}

.register{
    margin-top: -240px;
    ul{
        width: 100%;
    }
    .inputs{
        text-align: center;   
    }
    .msg{
        display: none;   
    }
    input{
        background: transparent;
        border: none;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 13pt;
        display: block;
        margin-left: 10px;
        margin-top: 1px;
        width: 100% !important;
        vertical-align: middle;
        cursor: default;
        color: #898989;
    }
    .recover a{
        margin-left: 25px;   
    }
}

