<section class="modal modal_one fade" id="the-modal">
    <section class="modal-dialog">
        <section class="modal-content">
            <section class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Window</h4>
            </section>
            <section class="modal-body">

            </section>
            <section class="modal-footer">
                <button type="button" id="modal-no" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="modal-yes" class="btn btn-primary" data-dismiss="modal">Save</button>
            </section>
        </section><!-- /.modal-content -->
    </section><!-- /.modal-dialog -->
</section><!-- /.modal -->
<section class="modal modal_two fade" id="the-modal2">
    <section class="modal-dialog">
        <section class="modal-content">
            <section class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Window</h4>
            </section>
            <section class="modal-body">
                <section id="modalText" rows="10" cols="30"></section>
            </section>
            <section class="modal-footer">
                <button type="button" id="modal-no" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="modal-yes" class="btn btn-primary" data-dismiss="modal">Save</button>
            </section>
        </section><!-- /.modal-content -->
    </section><!-- /.modal-dialog -->
</section><!-- /.modal -->