<section class="widget" id="{{ id }}">
    <header class="header">
        {{ name }}
        <a class="close-widget"><span class="glyphicon glyphicon-remove"></span></a>
    </header>
    <section class="content">

    </section>
</section>