<section>
    <section class="container">
        <h1>Object<section class="pull-right"><button class="btn btn-success" id="ApplySettings">Apply</button></section></h1>
        <table>
            <tr>
                <th>Type:</th>
                <td><input type="text" class="form-control" name="type" readonly id="ObjectType"/></td>
            </tr>
            <tr>
                <th>ID:</th>
                <td><input type="text" class="form-control" name="ID" id="ObjectID" /></td>
            </tr>
            <tr class="TextObj">
                <th>Text:</th>
                <td><input type="text" class="form-control" name="Text" id="ObjectText" /></td>
            </tr>
            <tr class="OthersClass">
                <th>Class:</th>
                <td><input type="text" class="form-control" name="Class" id="ObjectClass" /></td>
            </tr>
            <tr class="FormObject">
                <th>Name:</th>
                <td><input type="text" class="form-control" name="Name" id="ObjectName" /></td>
            </tr>
            <tr class="FormObject">
                <th>Placeholder:</th>
                <td><input type="text" class="form-control" name="Placeholder" id="ObjectPlaceholder" /></td>
            </tr>
            <tr class="FormObject">
                <th>Required:</th>
                <td><input type="checkbox" class="form-control" name="Required" id="ObjectRequired" /></td>
            </tr>
            <tr class="TextareaObject">
                <th>Rows:</th>
                <td><input type="number" class="form-control" name="Rows" id="ObjectRows" ></td>
            </tr>
            <tr class="ButtonObject">
                <th>Button Style:</th>
                <td>
                    <select class="form-control" name="Style" id="ObjectStyle">
                        <option value="btn-default">Default</option>
                        <option value="btn-primary">Primary</option>
                        <option value="btn-success">Success</option>
                        <option value="btn-info">Info</option>
                        <option value="btn-warning">Warning</option>
                        <option value="btn-danger">Danger</option>
                        <option value="btn-link">Link</option>
                    </select>
                </td>
            </tr>
        </table>
    </section>
    <section class="container">
        <h1>Others</h1>
        <table>
            <tr>
                <th>Actions:</th>
                <td><button class="btn btn-default" id="onClickView">View</button> <button class="btn btn-danger" id="onClickRemove">Remove</button></td>
            </tr>
            <tr>
                <th>Style:</th>
                <td><button class="btn btn-default" id="onStyleView">View</button> <button class="btn btn-danger" id="onStyleRemove">Remove</button></td>
            </tr>
        </table>
    </section>

</section>