<section>
    <section class="container">
        <h1>Containers</h1>
        <ul>
            <li data-type="header"><span class="glyphicon glyphicon-collapse-up"></span> <span id="elem-header">Header</span></li>
            <li data-type="footer"><span class="glyphicon glyphicon-collapse-down"></span> <span id="elem-footer">Footer</span></li>
            <li data-type="container"><span class="glyphicon glyphicon-list-alt"></span> <span id="elem-container">Container</span></li>
            <li data-type="row"><span class="glyphicon glyphicon-list"></span> <span id="elem-row">Row</span></li>
            <li data-type="section"><span class="glyphicon glyphicon-minus"></span> <span id="elem-section">Section</span></li>
            <li data-type="spacer"><span class="glyphicon glyphicon-resize-horizontal"></span> <span id="elem-section">Spacer</span></li>
        </ul>
    </section>
    <section class="container">
        <h1>Controls</h1>
        <ul>
            <li data-type="button"><span class="glyphicon glyphicon-record"></span> <span id="elem-button">Button</span></li>
            <li data-type="buttonGroup"><span class="glyphicon glyphicon-th-large"></span> <span id="elem-buttongroup">Button Group</span></li>
            <li data-type="buttonToolbar"><span class="glyphicon glyphicon-compressed"></span> <span id="elem-buttontoolbar">Button Toolbar</span></li>
            <li data-type="dropdown" class="disabled"><span class="glyphicon glyphicon-align-justify"></span> <span id="elem-dropdown">Dropdown</span></li>
            <li data-type="navigation"><span class="glyphicon glyphicon-tasks"></span> <span id="elem-nav">Navigation</span></li>
        </ul>
    </section>
    <section class="container">
        <h1>Data</h1>
        <ul>
            <li data-type="list"><span class="glyphicon glyphicon-list"></span> <span id="elem-list">List</span></li>
            <li data-type="listItem"><span class="glyphicon glyphicon-minus"></span> <span id="elem-listitem">List item</span></li>
            <li data-type="table" class="disabled"><span class="glyphicon glyphicon-th"></span> <span id="elem-table">Table</span></li>
            <li data-type="text"><span class="glyphicon glyphicon-italic"></span> <span id="elem-text">Text</span></li>
        </ul>
    </section>
    <section class="container">
        <h1>Form</h1>
        <ul>
            <li data-type="form"><span class="glyphicon glyphicon-edit"></span> <span id="elem-form">Form</span></li>
            <li data-type="label"><span class="glyphicon glyphicon-tag"></span> <span id="elem-label">Label</span></li>
            <li data-type="textbox"><span class="glyphicon glyphicon-pencil"></span> <span id="elem-text">Textbox</span></li>
            <li data-type="password"><span class="glyphicon glyphicon-lock"></span> <span id="elem-password">Password</span></li>
            <li data-type="email"><span class="glyphicon glyphicon-envelope"></span> <span id="elem-email">Email</span></li>
            <li data-type="checkbox"><span class="glyphicon glyphicon-check"></span> <span id="elem-checkbox">Checkbox</span></li>
            <li data-type="radio" class="disabled"><span class="glyphicon glyphicon-check"></span> <span id="elem-radio">Radio</span></li>
            <li data-type="textarea"><span class="glyphicon glyphicon-unchecked"></span> <span id="elem-textarea">Textarea</span></li>
            <li data-type="helpblock"><span class="glyphicon glyphicon-question-sign"></span> <span id="elem-helpblock">Help text</span></li>
        </ul>
    </section>

</section>