<li {{#disable}} class="disabled" {{/disable}} {{^disable}}{{/disable}} id="{{name}}" data-shortcut="{{shortcut}}"><a><span
        class="icon {{icon}}"></span> {{text}} <span class="shortcut">{{shortcut}}</span></a></li>
