<section id="topbar">
    <ul id="menubar" class="left">
    </ul>
    <ul id="extrabox" class="right">
        <li id="title">&nbsp;</li>
        <li><a href="javascript:void(0)" title="{{HOME}}" id="HOME"><span class="glyphicon glyphicon-home"></span></a>
        </li>
        <li><a href="javascript:void(0)" title="{{PROFILE}}" id="PROFILE"><span class="glyphicon glyphicon-user"></span></a>
        </li>
        <li><a href="javascript:void(0)" title="{{LOGOUT}}" id="LOGOUT"><span
                class="glyphicon glyphicon-off"></span></a></li>
    </ul>
    <section class="clear">&nbsp;</section>
</section>