<script type="text/template" id="tab-ctnt">
    <section id="{{ unique_tab }}" class="content editor active">
        <section id="{{ unique_tab }}-textarea" class="textarea"></section>
        <section class="fader">
        </section>
    </section>
</script>