<script type="text/template" id="tab-wbapp">
    <section id="{{ unique_tab }}" class="content wbuilder active" data-type="app">
        <section class="layout">
            <section data-boxtype="header" class="header">
            </section>
            <section data-boxtype="content" class="ctnt">
            </section>
            <section data-boxtype="footer" class="footer">
            </section>
        </section>
        <section class="fader">
        </section>
    </section>
</script>