<section class="workspace">
    <section class="tabs">
        <ul>
        </ul>
        <section class="navi">
            <a id="prev"><span class="glyphicon glyphicon-chevron-left">&nbsp;</span></a>
            <a id="next"><span class="glyphicon glyphicon-chevron-right">&nbsp;</span></a>
        </section>
    </section>
    <section class="xcontainer">
    </section>
    <section class="workspaceLoader">
        <section class="img">&nbsp;</section>
    </section>
</section>
<script type="text/template" id="tab-tpl">
    <li data-file="{{ file }}" data-name="{{ name }}" data-path="{{ path }}" data-container="{{ unique_tab }}" class="active"><span class="title">{{ name }}</span><span class="scroll"></span><a class="close-tab"><span class="glyphicon glyphicon-remove"></span></a></li>
</script>